{% extends "estimates/base.html" %}
{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile-container">
  <h1>Здравствуйте, {{ user.username }}!</h1>
  {% if user.phone_number %}
    <p>Телефон: {{ user.phone_number }}</p>
  {% endif %}
  <p>E-mail: {{ user.email }}</p>

  <p>Здесь можно увидеть ваши проекты и настроить личные данные.</p>
  <p>
    <a href="{% url 'account_change_password' %}">Сменить пароль</a> |
    <a href="{% url 'logout' %}">Выйти</a>
  </p>
</div>
{% endblock %}